name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    environment:
      name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: codefresheti.jfrog.io
          username: eti.bitbucket@gmail.com
          password: ${{ secrets.JFROG_PASSWORD_eti }}
      - name: Build & push the Docker image
        env:
          CF_IMAGE: codefresheti.jfrog.io/default-docker/eti:10.0.2
        run: |
          docker build . --file Dockerfile --tag $CF_IMAGE && docker push $CF_IMAGE
          
          
      - name: report image
        with:
          # Name of runtime to implement the enrichment
#           CF_HOST: https://eti-demo.pipeline-team.cf-cd.com

          CF_RUNTIME_NAME: 'codefresh-hosted'
          # Codefresh API key !! Committing a plain text token is a security risk. We highly recommend using an encrypted secrets. !!
          # Documentation - https://docs.github.com/en/actions/security-guides/encrypted-secrets
        
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
#           CF_API_KEY: "123"
          # Name of Container registry integration
          CF_CONTAINER_REGISTRY_INTEGRATION: 'codefresh-eti'
#           CF_REGISTRY_USERNAME: "${{ github.actor }}"
#           CF_REGISTRY_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"
#           CF_REGISTRY_DOMAIN: "ghcr.io"
#           CF_REGISTRY_USERNAME: "${{ secrets.JFROG_USER_NAME }}"
#           CF_REGISTRY_PASSWORD: "${{ secrets.JFROG_PASSWORD }}"
#           CF_REGISTRY_DOMAIN: "codefreshtest.jfrog.io"
          # Name of Jira integration
#           CF_JIRA_INTEGRATION: 'eti-jira-new'

          # Image path to enrich
          CF_IMAGE: codefresheti.jfrog.io/default-docker/eti:10.0.2

          # GitHub Access token !! Committing a plain text token is a security risk. We highly recommend using an encrypted secrets. !!
          # Documentation - https://docs.github.com/en/actions/security-guides/encrypted-secrets
          CF_GITHUB_TOKEN: ${{ secrets.G_TOKEN }}

#           # Jira project filter
#           CF_JIRA_PROJECT_PREFIX: "CR"

#           # String starting with the issue ID to associate with image
#           CF_JIRA_MESSAGE: "CR-11028"
          
#           CF_WORKFLOW_NAME: "test"

        uses: codefresh-io/codefresh-report-image@latest

#         uses: codefresh-io/codefresh-report-image@0.0.154
#         uses: eti-codefresh/codefresh-report-image@test       
